html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/**
Common weight mappings

https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
**/

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Gilroy/Gilroy-Regular.otf") format("opentype");
}

/*
This is the color system of the entire application
*/
:root {
  --red-strong: #fd3c3b;
  --red-light: #fd3c3b40;

  --white-pure: #fff;
  --white-strong: #fefefe;
  --white-mild: #1b1b1b50;
  --white-light: #1d1d1d;

  --black-strong: #050101;

  --blue-strong: #060683;
  --blue-pure: #000080;

  --purple-light: #C4CBF4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
